<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
    </head>
    <body>

        <form action="" method="post">
            <label id="election_type_label" for="election_type">Election Type</label>
            <select  id="election_type" name="election_type" >
            </select>

            <label id="states_label" for="states_type">State</label>
            <select  id="states" name="states" >
            </select>

            <label id="Constituency_label" for="Constituency">Constituency</label>
            <select  id="constituency" name="Constituency" >
            </select>

            <label id="date_label" for="">Date</label>
            <select  id="date" name="date" >
            </select>

            <label id="local_govt_label" for="local_govt">Local Government</label>
            <select  id="local_govt" name="local_govt" >
            </select>

            <label id="ward_label" for="ward">Ward</label>
            <select  id="ward" name="ward" >
            </select>

            <label id="polling_unit_label" for="">Polling Unit</label>
            <select  id="polling_unit" name="polling_unit" >
            </select>
            <button id="get_results">Get Results</button>
        </form>
        
        <script src="{{ url_for('static', path='/javascript/helpers.js') }}" ></script>
        <script src="{{ url_for('static', path='/javascript/state.js') }}" ></script>
        <script src="{{ url_for('static', path='/javascript/index.js') }}" async defer></script>
    </body>
</html>